.App {
  background: #222;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: right;
}

.App-header {
  background-color: #222;
  height: 10vh;
  color: white;
}

.App-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  padding: 10%;
}

.App-content {
  background: #222;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
